@font-face {
    font-family: 'KeepCalm';
    src: url('fonts/KeepCalm.ttf') format('truetype');
}

body {
    text-align: center;
    font: 2.2rem KeepCalm, sans-serif;
}

article {
    display: block;
    width: 650px;
    margin: 0 auto;
    animation: fadein 4s;
}

a {
    background-color: transparent;
}

ul {
    display: block;
    margin: 0 0 1.875rem;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 0.9rem;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container .heading {
    font-size: 3rem;
    line-height: 1.2;
}

.list-inline {
    margin-left: -5px;
    padding-left: 0;
    list-style: none;
}

.list-inline li {
    display: inline-block;
}

.social li {
    margin: 0.625rem;
}

.sr-only {
    width: 1px;
    height: 1px;
    padding: 0px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.emoji {
    font-size: 1.25rem;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}